body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10%;
}

h1 {
  color: #5E5D66;
  font-family: monospace;
  font-size: xx-large;
  font-weight: bold;
}

h3 {
  color: #5E5D66;
  font-family: monospace;
  font-size: x-large;
  font-weight: bold;
}